@model TinTucCTSV.Models.Account.ChangePassword
@{
    ViewData["Title"] = "Cập nhật mật khẩu";
}

<h1>Cập nhật mật khẩu</h1>

<form asp-action="ChangepPassword">
  <fieldset>
    <div asp-validation-summary="ModelOnly"></div>
    <input asp-for="Id" type="hidden" />
    <h1>@Model.UserName</h1>
    <!-- <div class="form-group">
        <label asp-for="OldPassword" for="disabledTextInput"></label>
        <input asp-for="OldPassword" class="form-control" id="inputPassword3" placeholder="NewPassword">
        <span asp-validation-for="OldPassword"></span>
    </div> -->
    <div class="form-group">
        <label asp-for="NewPassword" for="disabledTextInput"></label>
        <input asp-for="NewPassword" class="form-control" id="inputPassword3" placeholder="NewPassword">
        <span asp-validation-for="NewPassword"></span>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword" class="form-label"></label>
        <input asp-for="ConfirmPassword" class="form-control" id="inputPassword3" placeholder="ConfirmPassword">
        <span asp-validation-for="ConfirmPassword" class="form-label"></span>
    </div>
    <button type="submit" class="btn btn-primary">Xác nhận</button>
  </fieldset>
</form>