@model TinTucCTSV.Models.Reply.NewReplyModel

@{
    Layout = null;
}

<div class="row">
    <div class="col-md-4">
        <form asp-controller="Post" asp-action="ReplyPost">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <textarea asp-for="Content" class="form-control" ></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            <input asp-for="PostId" type="hidden" />
        </form>
    </div>
</div>
