@model TinTucCTSV.Models.Account.ChangePassword
@{
    ViewData["Title"] = "Cập nhật mật khẩu";
}

<h1>Cập nhật mật khẩu</h1>

<form asp-action="ChangePassword">
  <fieldset>
    <div asp-validation-summary="ModelOnly"></div>
    <input asp-for="Id" type="hidden" />
    <h1>Tên người dùng : @Model.UserName</h1>
    <div class="form-group">
        <label asp-for="NewPassword" for="disabledTextInput"></label>
        <input asp-for="NewPassword" class="form-control" id="inputPassword3" placeholder="Mật khẩu mới">
        <span asp-validation-for="NewPassword"></span>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword" class="form-label"></label>
        <input asp-for="ConfirmPassword" class="form-control" id="inputPassword3" placeholder="Xác thực mật khẩu">
        <span asp-validation-for="ConfirmPassword" class="form-label"></span>
    </div>
    <button type="submit" class="btn btn-primary">Đổi mật khẩu</button>
  </fieldset>
</form>